HUGGINGFACE_API_KEY=HUGGINGFACE_API_KEY
HUGGINGFACE_USER=HUGGINGFACE_USER
GOOGLE_API_KEY=GOOGLE_API_KEY
COHERE_API_KEY=COHERE_API_KEY
GROQ_API_KEY=GROQ_API_KEY
GITHUB_TOKEN=GITHUB_TOKEN
OLLAMA_MODEL=llama3.2:1b