HUGGINGFACE_API_KEY=HUGGINGFACE_API_KEY
HUGGINGFACE_USER=HUGGINGFACE_USER
GOOGLE_API_KEY=GOOGLE_API_KEY
COHERE_API_KEY=COHERE_API_KEY
GROQ_API_KEY=GROQ_API_KEY
GITHUB_TOKEN=GITHUB_TOKEN
OLLAMA_MODEL=llama3.2:1b
AUTH0_CLIENT_ID=auth0_client_id_sample
AUTH0_CLIENT_SECRET=auth0_client_secret_sample
AUTH0_DOMAIN=auth0_domain_sample
