/.quarto/
**/*.quarto_ipynb*
.venv
_site
**/*.ckpt
.ipynb_checkpoints
__pycache__/
**/lightning_logs
**/**ubyte**

**/*.quarto_ipynb
_freeze
site_libs
.jupyter_cache
*_files
.env
node_modules
**/87_demo/data
qmd/**/*.html
